dns_nameservers ${DNS_IP}

${PARENTS}

http_port 3128

prefer_direct off
nonhierarchical_direct off
digest_generation off
dead_peer_timeout 300 seconds

logfile_daemon /usr/local/sbin/loghelper

cache deny all
