dns_nameservers ${DNS_IP}

${PARENTS}

prefer_direct off
nonhierarchical_direct off
digest_generation off
dead_peer_timeout 300 seconds

cache deny all

http_port 3128

logfile_daemon /usr/local/sbin/loghelper
